body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

/* NAVBAR */
.navbar-container {
  background-color: #79addc;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-items {
  margin: 10px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: 10px;
  padding: 5px;
}

.dropdown:hover {
  position: relative;
  display: inline-block;
  background-color: #F2B5D4;
  border-radius: 5px;
  min-width: 145px;
  
  text-align: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 0.5s ease;
}

.navbar-user{
    margin: 6px 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F2B5D4;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 5px;
  margin-top: 5px;
  font-weight:bold;
}

.dropdown-content a {
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  font-family: 'Trebuchet MS', sans-serif;
  min-width: 120px;
}

.dropdown-content a:hover {
  background-color: #e39cbf;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  height: 80px;
}

a {
  color: white;
  text-decoration: none;
}

.active-navbar {
  background-color: #F2B5D4;
  padding: 10px;
  border-radius: 5px;
}

/* KONTEN  */

.container {
    padding: 20px 40px;
    background-color: white;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: #003399;
    margin-bottom: 20px;
    text-align: center;
}

.genre {
    margin-bottom: 40px;
}

.genre h2 {
    color: #003399;
    margin-bottom: 15px;
}

.song-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 55px;
}

.song-card {
    background-color: #E5EDF8;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    text-align: center;
    height: 318px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.song-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.song-card h4 {
    margin: 5px 0;
    color: #003366;
}

.song-card p {
    font-size: 14px;
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer{
    background-color: #79addc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5{
    margin: 10px 5px;
}

.ig{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* RESPONSIVE DISINI */
/* LAPTOP */
@media screen and (max-width: 1024px) {
  .navbar-menu {
      flex-direction: row;
      gap: 10px;
    }
  .nav-btn {
    font-size: 24px;
  }
}

/* TABLET */
@media screen and (max-width: 768px) {
  .navbar-menu {
    flex-direction: row;
    gap: 10px;
  }

  .nav-btn {
    font-size: 24px;
  }
}

/* HP */
@media screen and (max-width: 480px) {
    .navbar-container {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .navbar-menu {
    flex-direction: column;
    gap: 5px;
  }

  .genre h2{
    text-align: center;
  }


  .footer{
    padding: 0px 10px;
    width: 100%;
  }
}

